<section class="clearfix job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="user-account">
          <ul class="nav nav-tabs text-center" role="tablist">
            <li role="presentation" ><%=link_to 'Seeker Login',seeker_session_path %></li>
            <li role="presentation" class="active"><%=link_to 'Recuitor',recuitor_session_path %></li>
          </ul>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="user-option">
                  <%= f.check_box :remember_me,class:"checkbox pull-left" %>
                  <%= f.label :remember_me ,class:"pull-right forgot-password"%>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.submit "Log in",class:"btn" %>
              </div>
            <% end %>

        </div>
        <%= render "recuitors/shared/links" %>
      </div><!-- user-login -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- signin-page -->
