<section class="job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="user-account job-user-account">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="find-job">
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, :required => true,class:"form-control", autofocus: true %>
                </div>
                <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, :required => true,class:"form-control" %>
                </div>
                <div class="field">
                  <%= f.label :phone_no %><br />
                  <%= f.text_field :phone_no, :required => true, :pattern=>"[0-9]{9,10}",class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :sex %><br />
                  <%= f.text_field :sex, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autocomplete: "email", :required => true,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :prefered_loc %><br />
                  <%= f.text_field :prefered_loc, :required => true,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :salary %><br />
                  <%= f.text_field :salary, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :dob %><br />
                  <%= f.text_field :dob, :required => true, :type=>"date",class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :nationality %><br />
                  <%= f.text_field :nationality, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :perm_address %><br />
                  <%= f.text_field :perm_address, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :temp_address %><br />
                  <%= f.text_field :temp_address, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :certificate %><br />
                  <%= f.text_field :certificate, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :experience %><br />
                  <%= f.text_field :experience, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :description %><br />
                  <%= f.text_field :description, :required => true,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", :required => true, :pattern=>"(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", :title=>"Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters",class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :photo %><br />
                  <%= f.file_field :photo, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :cv %><br />
                  <%= f.file_field :cv, :required => true,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Update",class:"btn" %>
                </div>
              </div>
            <% end %>
          </div>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back %>

      </div><!-- user-login -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- signup-page -->
