<section class="job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="user-account job-user-account">
          <h2>Create An Account</h2>
            <ul class="nav nav-tabs text-center" role="tablist">
              <li role="presentation" class="active"><%=link_to 'Find A Job',new_seeker_registration_path %></li>
              <li role="presentation"><%=link_to 'Post A Job',new_recuitor_registration_path %></li>
            </ul>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="find-job">
                  <%= devise_error_messages! %>
                  <div class="form-group">
                    <%= f.label :first_name %><br />
                    <%= f.text_field :first_name, :required => true,class:"form-control", autofocus: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label :last_name %><br />
                    <%= f.text_field :last_name, :required => true,class:"form-control" %>
                  </div>
                  <div class="field">
                    <%= f.label :phone_no %><br />
                    <%= f.text_field :phone_no, :required => true, :pattern=>"[0-9]{9,10}", class:"form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :sex %><br />
                    <%= f.text_field :sex, :required => true,class:"form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "email", :required => true,class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", :required => true, :pattern=>"(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", :title=>"Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters", class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Sign up",class:"btn" %>
                    <%= render "seekers/shared/links" %>

                  </div>                
              </div>
            <% end %>
        </div>
      </div><!-- user-login -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- signup-page -->
