<section class="job-bg user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="user-account job-user-account">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
              <div role="tabpanel" class="tab-pane" id="post-job">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :company_name %><br />
                    <%= f.text_field :company_name, autofocus: true , class:"form-control"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :contact_no %><br />
                    <%= f.text_field :contact_no, class:"form-control" %>
                  </div>
                   <div class="form-group">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, class:"form-control" %>
                  </div>
                   <div class="form-group">
                    <%= f.label :pan_no %><br />
                    <%= f.text_field :pan_no, class:"form-control" %>
                  </div>
                  <div class="form-group">
                   <%= f.label :description %><br />
                   <%= f.text_area :description, class:"form-control" %>
                 </div>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum),</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off",class:"form-control" %>
                  </div>

                  <div class="form-group">
                   <%= f.label :logo %><br />
                   <%= f.file_field :logo, class:"form-control" %>
                 </div>

                  <div class="form-group">
                    <%= f.submit "Update",class:"btn" %>
                  </div>
                <% end %>
              </div>
              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

              <%= link_to "Back", :back %>
            </div>
        </div>
      </div><!-- user-login -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- signup-page -->
